<div class="starter-template">
  <h1>Join and follow celebrities and entrepreneurs</h1>
  <p class="lead">It´s free, signup and enjoy a new social experience!</p>
</div>
<div class="col-md-8 offset-4">
    <a href="/signup" class="btn btn-primary btn-lg">Signup</a>
    <a href="/login" class="btn btn-primary btn-lg">Login</a>
</div>
